body{
  background-color: #111111;
}

/* 태블릿 이상 (기본값 유지) */
#about {
  display: flex;
  flex-direction: row;

}

/* 텍스트 영역 */
.main-text {
  margin-top: 120px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--font-main);

  font-size: 28px;
  font-weight: 700;
  text-align: center;
  letter-spacing: var(--font-about-letter-spacing);
  line-height: 1.5;
  font-style: var(--font-about-font-style);
  color: var(--basicwhite);
  margin-left: 20px;
}

/* 루피 이미지 */
.main-image {
  width: 25%;
}

.con-main-text {
  width: 100%;
  justify-content: right;
}


@media (max-width: 768px) {

  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
  }

  .main-image {
    justify-content: center;

    margin-bottom: 5px !important;
    display: flex;

  }

  .main-text {
    margin-top: 5px;
    font-size: 25px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);


  }

  .con-main-text {
    width: 90%;

  }


}


.about-page {
  display: flex;
  flex-direction: column;
}








.yellow-txt {
  color: var(--basicyellow);
}

.white-txt {
  color: var(--basicwhite);
}

/* 자기소개 본문 */
.about-description {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
  color: var(--basicwhite);
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 19px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: linear-gradient(159deg, rgba(255, 255, 255, 0.20) -100%, rgba(255, 255, 255, 0.04) 100%);
  box-shadow: -5px -5px 250px 0px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(21px);
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.8;
}
/* 태블릿 이하 */



